body {
	width: 100%;
	margin: 0;
	background: red;
	font-family: sans-serif;
}
header {
	width: 100%;
	float: left;
	background: green;
	font-size: 3vmin;
}
footer {
	width: 100%;
	float: left;
	background: blue;
}
.right {
	width: 33%;
	float: left;
	background: yellow;
}
.left {
	width: 66%;
	float: left;
	background: violet;
}
@media only screen and (max-width: 600px) {
	.right {
		width: 100%;
		float: left;
		background: violet;
	}
	.left {
		width: 100%;
		float: left;
		background: yellow;
	}
}